./FirstVersion/__pycache__
./SecondVersion/__pycache__
./ThirdVersion/__pycache__
./FourthVersion/__pycache__
./FirstVersion/__pycache__/*
./SecondVersion/__pycache__/*
./ThirdVersion/__pycache__/*
./FourthVersion/__pycache__/*